# Python dependencies for data processing (if needed)
# pandas
# geopandas
Flask
Flask-Cors # Added for Cross-Origin Resource Sharing
rasterio
rio-tiler
# xarray
# Flask or FastAPI (for potential tile server)
